<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!---namespace=接口的全限定符-->
<mapper namespace="com.example.tdy.mapper.LikeMapper">
<!--    <select id="getLikeByUserId" resultType="com.example.tdy.entity.LikeVideo">-->
<!--        select * from like_video where uid = #{uid}-->
<!--    </select>-->
<!--    <update id="updateLikeById" >-->
<!--        update like-->
<!--        <set>-->
<!--            <if test="user_id != null">-->
<!--                user_id = #{uid}-->
<!--            </if>-->
<!--            <if test="video_id != null">-->
<!--                video_id = #{vid}-->
<!--            </if>-->
<!--         </set>-->
<!--        where id = #{id}-->
<!--    </update>-->
    <insert id="insertIntoLikeById">
        insert into like_video  (user_id,video_id) values (#{uid},#{vid})
    </insert>

</mapper>