<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.tdy.mapper.VideoMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into video(title, url, lv, cover, user_id, description, open, type_id, browses, label, likes, shares,
                          audit_status, comments, favorites, duration, create_time, update_time, audit_msg)
        values(#{title}, #{url}, #{lv}, #{cover}, #{userId}, #{description}, #{open}, #{typeId}, #{browses}, #{label},
               #{likes}, #{shares}, #{auditStatus}, #{comments}, #{favorites}, #{duration}, #{createTime}, #{updateTime}, #{auditMsg})
    </insert>
    <update id="update">
        update video
        <set>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="url != null">
                url = #{url},
            </if>
            <if test="lv != null">
                lv = #{lv},
            </if>
            <if test="cover != null">
                cover = #{cover},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="open != null">
                open = #{open},
            </if>
            <if test="typeId != null">
                type_id = #{typeId},
            </if>
            <if test="browses != null">
                browses = #{browses},
            </if>
            <if test="likes != null">
                likes = #{likes},
            </if>
            <if test="shares != null">
                shares = #{shares},
            </if>
            <if test="auditStatus != null">
                audit_status = #{auditStatus},
            </if>
            <if test="comments != null">
                comments = #{comments},
            </if>
            <if test="favorites != null">
                favorites = #{favorites},
            </if>
            <if test="duration != null">
                duration = #{duration},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="auditMsg != null">
                audit_msg = #{auditMsg},
            </if>
        </set>
        where id = #{id}
    </update>
    <select id="selectByUserId" resultType="com.example.tdy.entity.Video">
        select * from video where user_id = #{userId}
        order by create_time desc
    </select>
    <select id="selectByIds" resultType="com.example.tdy.entity.Video">
        select * from video where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
        ORDER BY FIELD(id,
        <foreach collection="ids" item="id" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>